<h1> The Front Page </h1>

{{#if currentUserId}}
  <button onclick="location.href = '/posts/new'; return false;"> Create New Post </button>
  <button onclick="location.href = '/logout'; return false;"> Logout </button>
{{else}}
  <button onclick="location.href = '/login'; return false;"> Login </button>
  <button onclick="location.href = '/sign-up'; return false;"> Sign Up </button>
{{/if}}

<div style="container"

{{#each post}}
<div>
  <a href="/posts/{{this.id}}"> {{this.title}} </a>
  <p> {{this.summary}} </p>
  <form class="vote-up" data-id="{{this._id}}">
    <button type="submit"> Vote up </button>
  </form>
  <form class="vote-down" data-id="{{this._id}}">
    <button type="submit"> Vote down </button>
  </form>
</div>
{{/each}}


</div>
