<header class="pageHeader">
  <div class="homeButton">
    <button onclick="location.href = '/'; return false;"> Home </button>
  </div>
</header>

<h1 class="showPostTitle"> {{post.title}} </h1>
<div class="showPostContent">
  <p style="margin-bottom:40px;"> {{post.summary}} </p>
  <hr>
  <p> Created By: {{post.author.username}} </p>
</div>

<div class="showPostComments">
  <div>
    <form method="POST" action="/posts/{{post.id}}/comments" >
      <textarea name="content" id="commentInput" placeholder="Write a comment"> </textarea>
      <input type="hidden" name="userId" id="post-user-id" value={{currentUserId}} />
      <button type="submit"> Submit </button>
    </form>
  </div>

  {{#each comments}}
  <div>
    <p> {{this.content}} </p>
    <p> Created by: {{this.author}} </p>
    <form method="POST" action="/posts/{{@root.post.id}}/comments/{{this.id}}/replies" >
      <textarea name="content" id="replyInput" placeholder="Reply to this comment"> </textarea>
      <input type="hidden" name="userId" id="post-user-id" value={{currentUserId}} />
      <button type="submit"> Reply </button>
    </form>
  </div>

    {{#each this.replies}}
      <div>
        <p> reply is here! </p>
        <p> {{this.content}} </p>
      </div>
    {{/each}}
  {{/each}}

</div>
